img.center {height: 300px;
	width: 70%;
	

}

body {
	background-color: #66CC66;
	padding-top:100px;
	padding-bottom:100px;
	padding-right:150px;
	padding-left:100px;
	text-align:center;

}

div{
	text-align:center;
	background-color: white;
	text: black;
}

ol {
	background color: white;
	text: black;
	text-align:left;
}
#sidebar {
	height: 300px;
	width: 600px;
	background-color: white;
	float: right;
	margin: 10px;
}


a:hover {
	
}
