
body {background-color: #E8E8E8;}

div { width: 300px;
      border-top; 50px;
      border-left:100px;
      border-bottom: 100px;
      border-right:100px;
      background-color: white;
      left: 350;
      position: absolute;}
